html {
  min-height: 100%;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ====================================================== */

header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

header nav {
  padding: 0rem 8rem;
}

main {
  padding: 0rem 8rem !important;
  margin-top: 7rem;
}

.initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  color:rgb(229, 224, 253);
}

.initial h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.initial h5 {
  margin-top: 1rem;
}

.cards-wrapper {
  display: grid;
  /* Membuat kolom sebanyak2nya tergantung lebarnya layar dengan lebar minimum 250px */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 24.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-image img {
  border-radius: 1rem;
  object-fit: cover;
  height: 100%;
}

.bottom-card-elements {
  padding: 0rem 1rem;
  margin-top: auto;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
}

.details h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.details h6 {
  font-size: 0.9rem;
}

.bottom-card {
  display: flex;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.leftside {
  display: flex;
  align-items: center;
}

.rating-icon {
  height: 2rem;
}

.rating-icon img {
  height: 100%;
}

.card-rating {
  padding-left: 1rem;
}

.card-rating p {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.rightside {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.more-details-button {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(19, 14, 47);
  color: rgb(229, 224, 253);
  cursor: pointer;
}

.modal-details-contents {
  display: grid;
  grid-template-columns: minmax(150px, 0.5fr) minmax(300px, 1fr);
}

.modal-details-image img {
  width: 100%;
  border-radius: 1rem;
}

.modal-details-info {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid black;
}

.modal-details-info p {
  padding: 0.7rem 0rem;
  margin: 0;
}

.info-keys {
  border-right: 1px solid black;
}

.key-premiered, .key-show-status, .key-show-rating, .key-genres, .key-channel {
  border-bottom: 1px solid black;
  padding-right: 1rem;
}

.key-summary {
  margin-top: auto;
}

.info-premiered, .info-show-status, .info-show-rating, .info-genres, .info-channel, .info-summary {
  border-bottom: 1px solid black;
  padding-left: 1rem;
}

.info-summary {
  border-bottom: none;
}

.credits {
  margin: 2rem 0rem;
  padding: 2rem;
  border-radius: 2rem;
}

footer {
  margin-top: auto;
}

.footer-social-networks-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  margin-bottom: 1rem;
}

.footer-social-networks {
  display: flex;
  justify-content: center;
  height: 3.5rem;
  background-color: rgb(229, 224, 253);
  border-radius: 1rem;
  padding: 0.7rem 1rem 0.7rem 2rem;
}

.footer-social-networks img {
  height: 100%;
  padding-right: 1rem;
}

.copyrights {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(229, 224, 253);
  color: rgb(19, 14, 47);
}

.copyrights h6 {
  margin: 0;
}